.centrer{
    text-align: center;
}

.bgVert{
    background-color: #85C17E;
}

.bgGris{
    background-color: #677179;
}

.bgOrange{
    background-color: #FEA347;
}

.policeVert{
    color: #00561B;
}

#belleImage .paysage{
    width: 100%;
}

#engagements .fa-plane{
    font-size: 100px;
}

#engagements .avion{
    background-image: url(image/avion.png);
}