body
{
	background-color: #677179;
}

.centrer{
    text-align: center;
}

.bgVert{
    background-color: #85C17E;
}

.bgGris{
    background-color: #677179;
}

.bgOrange{
    background-color: #FEA347;
}

.policeVert{
    color: #00561B;
}

#navbarTop
{
	min-height: 60px;

}

#menuLeft
{
	display: none;
	border-top-right-radius: 10px; 
	border-bottom-right-radius: 10px; 
}

#menuLeft a
{
	color: #fff; 
}

#menuLeft .topLienMenu
{
	border-top-right-radius: 10px; 
}

#menuLeft .bottomLienMenu
{
	border-bottom-right-radius: 10px; 
}

#menuLeft a:hover
{
	color: #fff;
	background-color: cadetBlue;
}

#menuLeft a:focus
{
	color: #fff;
	background-color: cadetBlue;
}

#destinations .imageDestination
{
	width: 100%;
}

#destinations .blocDestination
{
	/*border: solid #91c78a 2px;*/
	border-radius: 10px;
}

#destinations .description
{
	text-decoration: dashed underline;
}

#destinations .txtDestination
{
	background-color: #91c78a;
	border-radius: 5px;
}

#footer
{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#footer h3
{
	font-size: 16px;
}

#footer h3:hover
{
	color: #FEA347;
}

#footer li a:hover
{
	color: #FEA347;
}

#belleImage
{
	display: block;
}

#carouselExampleIndicators
{
	display: none;
	width: 90%;
	margin: 0 auto;
}

@media only screen and (min-width: 768px) {
	body
	{
		background-image: url(image/belle_image.jpg);
    	background-repeat: no-repeat;
    	background-attachment: fixed;
    	background-size: cover;
	}
	
	#navbarTop
	{
		display: none;
	}
	
	#menuLeft
	{
		display: block;
		position: fixed;
		top: 33%;
		left: 0%;
		max-width: 15%;
		width: 15%;
	}
	
	#siteContenu
	{
		position :absolute;
		right: 2.5%;
		width:80%;
	}
	
	#belleImage
	{
		display: none;
	}
	
	#carouselExampleIndicators
	{
		display: block;
	}
	
	#destinations .imageDestination
	{
		height: 60%;
	}
	
	#footer h3
	{
		font-size: 35px;
	}
}

#titre
{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.paysage{
    width: 100%;
}


.avion{
    background-image: url(image/avion1.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5%;
}

.policeBlanc{
    color: green;
}

@media only screen and (min-width: 768px) {
    
}

