.centrer{
    text-align: center;
}

.bgVert{
    background-color: #85C17E;
}

.bgGris{
    background-color: #677179;
}

.bgOrange{
    background-color: #FEA347;
}

.policeVert{
    color: #00561B;
}

#navbarTop
{
	min-height: 60px;
}

#menuLeft
{
	display: none;
}

#menuLeft a
{
	color: #fff;
}

#menuLeft a:hover
{
	color: black;
}

@media only screen and (min-width: 768px) {
	#navbarTop
	{
		display: none;
	}
	
	#menuLeft
	{
		display: block;
		position: fixed;
		top: 33%;
		left:0%;
	}
}